<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Task</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<input type="text" id="searchInput" placeholder="Search tasks by name">

<button onclick="fetchTodayTasks()">Today's Tasks</button>

<button onclick="fetchWeekTasks()">This Week's Tasks</button>

<input type="checkbox" id="showIncompleteOnly">Show Incomplete Only

<br><br>
<label for="startDate">Start Date: </label>
<input type="date" id="startDate">
<label for="endDate">End Date: </label>
<input type="date" id="endDate">
<button onclick="fetchTasksByDate()">Fetch Tasks by Date</button>
<br><br>
<button onclick="sortTasksByDate()">Sort Tasks by Date</button>

<div class="task-list" id="taskList"></div>

<!-- Modal -->
<div id="taskModal" style="display: none;">
    <div style="background: rgba(0, 0, 0, 0.5); position: fixed; top: 0; left: 0; width: 100%; height: 100%;"></div>
    <div style="background: white; padding: 20px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 30vw;">
        <h2>Task Description</h2>
        <p id="modalContent"></p>
        <button onclick="closeTaskModal()">Close</button>
    </div>
</div>

<script src="../static/script.js"></script>
</body>
</html>
